<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer.mapper">



<!-- 고객정보상세조회 -->
<select id='detail' resultType="customer.CustomerVO">
select DISTINCT storehistory.*
from store, storehistory
where store.storeid = storehistory.storeid
and ownerid='1'
</select>

<!-- 매장정보상세조회 -->
<select id='info' resultType="customer.CustomerInfoVO">
select DISTINCT store.*
from store, storehistory
where store.storeid = storehistory.storeid
and ownerid='1'
<!-- select * from store where storeid in(select storeid from store where ownerid='"+hw+"')  -->
</select>

<!-- 매장이용고객정보상세조회 -->
<select id="user" resultType="customer.UserVO">
select DISTINCT userinfo.*
from userinfo, storehistory
where userinfo.userid = storehistory.userid
</select>

<!-- 월간그래프 -->
<!-- <select id='graph' resultType="customer.CustomerVO">
select to_char(costdate,'mm') unit, count(*)as count 
from storehistory 
where storeid in(select storeid from store where ownerid='"+1+"')
group by to_char(costdate, 'mm')
order by 1
</select> -->


</mapper>